extends layout

block content
	<main class="main-content">

			
			<div class="fullwidth-block why-chooseus-section">
			

			<div class="hero1">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="images/dakota9.jpg">
							<div class="container">
								<h2 class="slide-title">Dakota Clover</h2>
								<h3 class="slide-subtitle">Creating Lasting Memories</h3>
							</div>
						</li>
						<li class="lazy-bg" data-background="images/dakota2.jpg">
							<div class="container">
								<h2 class="slide-title">Dakota Clover</h2>
								<h3 class="slide-subtitle">Creating Lasting Memories</h3>
							</div>
						</li>
						<li class="lazy-bg" data-background="images/dakota3.jpg">
							<div class="container">
								<h2 class="slide-title">Dakota Clover</h2>
								<h3 class="slide-subtitle">Creating Lasting Memories</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>	


			
				

				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						<header class="section-header">
							<h2 class="section-title">Upcoming events</h2>
							<br/>
							<ul class="list-inline justify-content-center">
						<li class="list-inline-item">
						<h2 class="eventCom">Let us book your next event
						</li>
						<li class="list-inline-item">
						<a class="phoneNum" href="tel:6514294494">  (651)-429-4494</a>
						</li>
						</ul>

							<div class="event-nav">
							
								<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
								<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
								</div>
							<!-- .event-nav -->

						</header> <!-- .section-header -->
						
						<div class="event-carousel">

								each value in events
									- var month = value.date.substring(5,7)
									- var day = value.date.substring(8,10)
									- var hour = value.time.substring(0,2)													
									- var PM = "pm"
										<div class="event">
											<div class="entry-date">
												case month
													when '12'
														h1-date Dec
													when '11'
														h1-date Nov
													when '10'
														h1-date Oct
													when '09'
														h1-date Sept
													when '08'
														h1-date Aug
													when '07'
														h1-date July
													when '06'
														h1-date June
													when '05'
														h1-date May
													when '04'
														h1-date Apr
													when '03'
														h1-date Mar
													when '02'
														h1-date Feb
													when '01'
														h1-date Jan
													default
														p Missing the month
												<div class="date"> #{day}</div>
												if hour > 12
													<div> #{hour-12}:#{value.time.substring(3,5)}pm</div>
												else
													<div> #{hour}:#{value.time.substring(3,5)}am</div>
											</div>
											<div>
												h2.text-white #{value.name}
												h3.text-white #{value.description}
											</div>
											<a href= "#{value.url}">#{value.name}</a>
										</div> <!-- .event -->		
										
								else
									td There are no values
						
							
						</div> <!-- .event-carousel -->
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>

						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="/images/small-venu.png" alt="gig">
									</figure>
									<h3 class="feature-title">Small Private Intimate Venues</h3>
									<p>We work with you to bring the very best entertainment.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/25445998_1458400024279917_815193772089642815_n.jpg?_nc_cat=108&_nc_ht=scontent.ffcm1-2.fna&oh=0a2dbcbdefc71b1567c7c3ff2cacd5bf&oe=5C93F362" alt="">
									</figure>
									<h3 class="feature-title">Small Group Gatherings</h3>
									<p>Something here about smaller venues</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/22196067_1390717244381529_761672453259035627_n.jpg?_nc_cat=104&_nc_ht=scontent.ffcm1-2.fna&oh=ad55736a21fe4f9dfd94e315f1a630ef&oe=5CC9FAB6" alt="">
									</figure>
									<h3 class="feature-title">Weddings and Large corporate events</h3>
									<p>Something here about large events</p>
								</div> <!-- .feature -->
							</div>
						</div>
					</div> <!-- .container -->
				</div> <!-- .why-chooseus-section -->
			</main> <!-- .main-content -->

		
			</div>	<!-- #site-content -->

			<script src="js/jquery-1.11.1.min.js"></script>
			<script src="js/plugins.js"></script>
			<script src="js/app.js"></script>
			<script src="js/New File.js"></script>

