extends layout

block content
		<div class=" row text-centered d-flex justify-content-center">
			h1.text-white All Events
		</div>
			each value in allEvents
				
				<div class="row ml-2">
				<div class="col-8 col-sm-3 border m-1">
					<p class="text-white"> #{value.name}</p>
					<p class="text-white"> #{value.date}</p>
				</div>
				<div class="col-2 col-sm-3">
					<a href="/#{value.id}"><button id=" #{value.id}" class="text-danger mt-3 delete" >Delete</button></a>
					<a href="/#{value.id}/event"><button id="#{value.id}" class="text-dark update">Update</button></a>
				</div>
				</div>