extends layout

block content
	- var values = [];
	ul
	each val in values.length ? values : [{ "name":"John", "age":30, "car":null },{ "name":"John", "age":30, "car":null }]
		li= val.name
		li= val.age
		li= val.car

			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="https://scontent.ffcm1-1.fna.fbcdn.net/v/t1.0-9/12376319_890562124397046_7766666743093123471_n.jpg?_nc_cat=100&_nc_ht=scontent.ffcm1-1.fna&oh=229d569865a88104c752bfaf67c95ab0&oe=5CD364B2">
							<div class="container">
							<h2 class="slide-title">Dakota Clover</h2>
							<h3 class="slide-subtitle">Come Gather</h3>
								<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p>

								<a href="#" class="button cut-corner">Read More</a>
							</div>
						</li>
						<li class="lazy-bg" data-background="https://scontent.ffcm1-1.fna.fbcdn.net/v/t1.0-9/21767950_1382457621874158_1539239766070968174_n.jpg?_nc_cat=111&_nc_ht=scontent.ffcm1-1.fna&oh=f7ba724eadb720573c44252c648b54bb&oe=5CCA2704">
							<div class="container">
							<h2 class="slide-title">Dakota Clover</h2>
									<h3 class="slide-subtitle">Come Gather</h3>
									<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p>

									<a href="#" class="button cut-corner">Read More</a>
							</div>
						</li>
						<li class="lazy-bg" data-background="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/18058030_1241015852685003_6838734893377056859_n.jpg?_nc_cat=104&_nc_ht=scontent.ffcm1-2.fna&oh=8b7b50437e3f64c53bdc6372baa60c03&oe=5CCD01C4">
							<div class="container">
								<h2 class="slide-title">Dakota Clover</h2>
									<h3 class="slide-subtitle">Come Gather</h3>
									<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p>

									<a href="#" class="button cut-corner">Read More</a>
							</div>
						</li>
					</ul>
				</div>
			</div>	


			<main class="main-content">
				<div class="fullwidth-block testimonial-section">
					<div class="container">
						<div class="quote-slider">
							<ul class="slides">
								<li>
									<blockquote>
										<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"</p>
										<cite>John Smith</cite>
										<span>Corporation CEO, books author</span>
									</blockquote>
								</li>
								<li>
									<blockquote>
										<p>"Iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"</p>
										<cite>John Smith</cite>
										<span>Corporation CEO, books author</span>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						<header class="section-header">
							<h2 class="section-title">Upcoming events</h2>

							<div class="event-nav">
							h1.welcome Welcome to your page #{events.name} !
								<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
								<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
							</div> <!-- .event-nav -->

						</header> <!-- .section-header -->
						<div class="event-carousel">
							
							<div class="event">
								<div class="entry-date">
									<div class="date">#{events.date}</div>
									<span class="month">Jun</span>
								</div>
								<h2 class="entry-title"><a href="#">#{events.name}</a></h2>
								<p>#{events.address}</p>
								<p>#{events.description}</p>
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">23</div>
									<span class="month">Jun</span>
								</div>
								<h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur</p>
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">23</div>
									<span class="month">Jun</span>
								</div>
								<h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur</p>
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">23</div>
									<span class="month">Jun</span>
								</div>
								<h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur </p>
							</div> <!-- .event -->
							
							
							<div class="event">
								<div class="entry-date">
									<div class="date">23</div>
									<span class="month">Jun</span>
								</div>
								<h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur </p>
							</div> <!-- .event -->
							
						</div> <!-- .event-carousel -->
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>

						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-1.fna.fbcdn.net/v/t1.0-9/35407471_1644186992367885_7132266019367682048_n.jpg?_nc_cat=105&_nc_ht=scontent.ffcm1-1.fna&oh=144cf16d176c037c77c9fd5704326363&oe=5C90F42A" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/25445998_1458400024279917_815193772089642815_n.jpg?_nc_cat=108&_nc_ht=scontent.ffcm1-2.fna&oh=0a2dbcbdefc71b1567c7c3ff2cacd5bf&oe=5C93F362" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/22196067_1390717244381529_761672453259035627_n.jpg?_nc_cat=104&_nc_ht=scontent.ffcm1-2.fna&oh=ad55736a21fe4f9dfd94e315f1a630ef&oe=5CC9FAB6" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
						</div>
					</div> <!-- .container -->
				</div> <!-- .why-chooseus-section -->
			</main> <!-- .main-content -->

			
			</div>	<!-- #site-content -->

			<script src="js/jquery-1.11.1.min.js"></script>
			<script src="js/plugins.js"></script>
			<script src="js/app.js"></script>
			<script src="js/app.js"></script>

